name: 02-4 - Deploy - ZAP Scan

on:
  workflow_call

jobs:
  CesiZen_Zap_Scan:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: ZAP Baseline Scan - CesiZen Application
        uses: zaproxy/action-baseline@v0.14.0
        with:          
          target: 'http://canary.demo.cesizen.com:8000'
          fail_action: true
          artifact_name: 'cesizen-zap-scan'
          issue_title: 'ZAP CesiZen Security Scan Report'

  CesiZen_API_Zap_Scan:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: ZAP API Scan - CesiZen API Endpoints
        uses: zaproxy/action-api-scan@v0.9.0
        with:          
          target: 'http://canary.demo.cesizen.com:8000/api'
          fail_action: false
          artifact_name: 'cesizen-api-zap-scan'
          issue_title: 'ZAP CesiZen API Security Scan Report'

  CesiZen_Admin_Zap_Scan:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: ZAP Full Scan - CesiZen Admin Interface
        uses: zaproxy/action-full-scan@v0.10.0
        with:          
          target: 'http://canary.demo.cesizen.com:8080'
          fail_action: false
          artifact_name: 'cesizen-adminer-zap-scan'
          issue_title: 'ZAP CesiZen Adminer Security Scan Report'